@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Martel+Sans:wght@600&family=Poppins:wght@200;400;700&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  min-width: 60svh;
  background: url("./assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo-container {
  display: flex;
}

.logo-container .logo-img {
  border: none;
  border-radius: 50%;
  padding: 3px;
  height: 90px;
  width: 90px;
  margin-right: 6px;
  margin-top: 1px;
}

.logo-container .logo {
  font-size: 3em;
  color: whitesmoke;
  user-select: none;
  margin-top: 14px;
  font-family: 'Rowdies', sans-serif;
}

.navigation a {
  position: relative;
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 50px;
  text-decoration: none;
  margin-bottom: 14px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: whitesmoke;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

.separation {
  height: 2px;
  background-color: #d8d4d4;
  position: relative;
  z-index: 40;
  width: 100%;
  transform: translateY(-258px);
  opacity: 0.8;
}

.welcomeHead {
  color: whitesmoke;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateY(-180px);
  text-align: center;
  justify-content: center;
  z-index: 10;
}

.welcomeHead :nth-child(1) {
  font-family: "Rowdies", sans-serif;
  font-size: 3.2rem;
  margin-bottom: 8px;
}

.welcomeHead :nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 6px;
  font-weight: bold;
}

.faq-container {
  position: fixed;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  margin-top: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.accordian {
  background-color: rgb(95, 93, 93, .5);
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.3rem;
  width: 100%;
  padding: 0.3rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.accordian i {
  font-size: 1.6rem;
}

.accordian:hover {
  background-color: rgb(95, 93, 93, .9);
}

.pannel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease;
  border-radius: 4px;
}

.pannel p {
  color: whitesmoke;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: .3rem 2.5rem;
  background: transparent;
  margin-bottom: 6px;
}

.faq1.active .pannel {
  max-height: 250px;
}

.faq1.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq1.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}


.faq2.active .pannel {
  max-height: 250px;
}

.faq2.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq2.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}


.faq3.active .pannel {
  max-height: 250px;
}

.faq3.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq3.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}


.faq4.active .pannel {
  max-height: 250px;
}

.faq4.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq4.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}


.faq5.active .pannel {
  max-height: 300px;
}

.faq5.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq5.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}


.faq6.active .pannel {
  max-height: 300px;
}

.faq6.active .pannel p {
  background-color: rgb(104, 100, 100, .5);
}

.faq6.active .accordian {
  background-color: rgb(95, 93, 93, .9);
}